#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom ;
}

#hour{
    width: 1%;
    height: 16%;
    top: 33%;
    left: 49.5%;
    opacity: 0.8;
}
#minute{
    width: 0.75%;
    height: 24%;
    top: 26%;
    left: 49.5%;
    opacity: 0.8;
}
#second{
    width: 0.5%;
    height: 26%;
    top: 23%;
    left: 49.5%;
    opacity: 0.8;
}